.home-page-container{
    position: relative;
    top: 5.5rem;
}

.home-page-content{
    display: grid;
    height: 88.2vh;
    position: absolute;
    left: 11rem;
    height: calc(100vh - 89px);
    width: calc(100vw - 11rem);
    background-color: var(--secondary-bg-color);
}
@media screen and (max-width: 800px) {
    .home-page-content{
        left: 0;
        width: 100vw;
    }
}
@media screen and (max-width:420px){
    .home-page-container{
        top: 4.5rem;
    }
    .home-page-content{
        height: calc(100vh - 72px);
    }
}