.header-nav{
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav-bar{
    background-color: var(--primary-bg-color);
    margin: 0;
    border-radius: 0;
}

.bi-person-circle{
   font-size: 2rem;
}

.bi-person-circle:hover{
    cursor: pointer;
}

.nav-btn{
    background-color: var(--btn-cta);
}

@media screen and (max-width: 420px){
    .nav-brand img {
        height: 2.5rem;
    }
}