.video-card {
  border-radius: 0.6rem;
  cursor: pointer;
  height: 15rem;
  position: relative;
  width: 20rem;
  border: 1px solid var(--primary-bg-color);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: var(--primary-bg-color);
}

.video-img-container {
    height: 65%;
    position: relative;
    width: 100%; 
}
.video-thumbnail {
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.video-header{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.video-footer{
  padding: 0 1rem;
}

.video-category{
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.no-text-decoration{
  text-decoration: none;
}

.ReactModal__Content{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ReactModal__Content button{
  width: 100%;
  background-color: var(--btn-cta);
}

.ReactModal__Content section{
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.ReactModal__Content section > div{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.ReactModal__Content main{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ReactModal__Content input{
  color: var(--primary-bg-color);
}

.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Media Query  */

@media screen and (max-width:420px) {
  .video-card {
    height: 11rem;
    width: 15rem;
  }
  .video-header{
    font-size: 0.8rem;
  }
  .video-category{
    font-size: 0.7rem;
  }
}